

.category-layouts-form h2 {
	background: #25394b;
	color: #fff;
	font-size: 18px;
	position: relative;
	z-index: 1;
	margin-top: 35px;
}
.category-layouts-form h2:before {
	content: "";
	position: absolute;
	height: 35px;
	top: -36px;
	background: #f2f3f5;

	left: -1px;
	right: -1px;
	z-index: 2;
	border-top: 1px solid #cdcdcd;
}
.category-layouts .setting-field > select, fieldset.col-group.last select[name=parent_id] {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 110%;
	border: 1px solid;
	border-color: #b3b3b3 #cdcdcd #cdcdcd #b3b3b3;
	color: #5f6c74;
	outline: 0;
	padding: 4px;
	max-width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	margin-bottom: 20px;
}

.category-layouts {
	position: relative;
	border-bottom: 5px solid #25394b;
	margin-bottom: 20px;
}
.category-layouts:after {
	content: "";
	position: absolute;
	height: 30px;
	left: -1px;
	right: -1px;
bottom: 0;
	background: #F2F4F5;
}
.category-layouts fieldset {
	padding: 5px;
}
.category-layouts fieldset:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
.category-layouts .col {
	float: none;
	width: auto;
}
.category-layouts .cat-col .cat-col-item { 
	box-sizing: border-box;
    clear: none;
    display: block;
    padding: 10px;
    /* border: 1px solid #D0D7DF; */
    /* border-top: 10px solid #A9BAC3; */
    /* background: #fff; */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    /*background: #f5f5f5;*/
}
.category-layouts .cat-row:hover {
	-webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
}
.category-layouts input, .category-layouts select, .category-layouts textarea {
	width: 100% !important;
}
 .category-layouts textarea {
	 min-height: 0;
 }
.category-layouts .cat-row {
    clear: both;
    position: relative;
    padding: 10px 4px;
	margin: 30px -11px;
    /* padding: 3px; */
    background: #fff;
    border: 1px solid #cdcdcd;
	z-index: 1;
}
.form-standard > form .category-layouts .cat-row {
	margin: 30px -1px;
}
.category-layouts .cat-row:before,
.category-layouts .cat-row:after {
	content: "";
	display: table;
} 
.category-layouts .cat-row:before {
	display: block;
	position: absolute;
	height: 30px;
	top: -31px;
	background: #f2f3f5;
	left: -7px;
	right: -7px;
	z-index: 2;
}
.category-layouts .cat-row:after {
	clear: both;
}
.category-layouts .cat-col {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 5px;
}

.category-layouts .cat-col.cols-1 {
	width: 100%;
}
.category-layouts .cat-col.cols-2 {
	width: 50%;
}
.category-layouts .cat-col.cols-3 {
	width: 33.333%;
}
.category-layouts .cat-col.cols-4 {
	width: 25%;
}
.category-layouts .cat-col.cols-5 {
	width: 20%;
}
@media (max-width: 1279px) {
	.category-layouts .cat-col.cols-2,
	.category-layouts .cat-col.cols-4 {
		width: 50%;
	}
	.category-layouts .cat-col.cols-3,
	.category-layouts .cat-col.cols-5 {
		width: 100%;
	}
}
@media (max-width: 749px) {
	.category-layouts .cat-col.cols-2,
	.category-layouts .cat-col.cols-3,
	.category-layouts .cat-col.cols-4,
	.category-layouts .cat-col.cols-5 {
		width: 100%;
	}
}


#action_nav li.red a:link, #action_nav li.red a:visited {
	background: #cc1e47;
}
#action_nav li.red a:hover {
	background: #A4324D;
}
