
#sortables .drop-source, #sortables .drop-container, #sortables .drop-source .sortable, #sortables .drop-container .row, #sortables .drop-container .col {
	box-sizing: border-box;
}

#sortables {
	position: relative;
	margin-top: 50px;
	margin-bottom: 3em;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#sortables .drop-source, #sortables .drop-container {
    min-height: 600px;
    /*background: #fff;*/
    padding: 0;
	float: left;
}
#sortables .drop-source {
	width: 24%;
	margin-right: 1%;
}
#sortables .drop-container {
	width: 75%;
}
#sortables .drop-source .sortable {
	overflow: hidden;
	overflow-y: auto;
	max-height: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
	/*border: 1px dashed #ccc;*/
	padding: 10px;
	border: 3px solid #eee;
	border-radius: 4px;
	
	background: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 10px,
		rgba(0,0,0,.04) 10px,
		rgba(0,0,0,.04) 20px
	);
	
}
#sortables .drop-source .sortable::-webkit-scrollbar {
	background-color: transparent;
	width: 4px;
	height: 4px;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#sortables .drop-source .sortable::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border: 1px solid #cfcfcf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#sortables h2 {
	margin-bottom: 10px;
}

#sortables .drop-container .buttons {
	margin: 15px -5px;
}
#sortables .drop-source {
	float: left;
	position: relative;
	z-index: 2;
}
#sortables .drop-source:before,
#sortables .drop-source:after {
	content: "";
	display: table;
} 
#sortables .drop-source:after {
	clear: both;
}
#sortables .sortable.hover,
#sortables .row.hover {
	border-color: #000 !important;
}

#sortables .drop-description {
	position: absolute; 
	top: -30px; 
	left:0; 
	right:0;
	margin: 0;
	padding: 6px;
	text-align: center;
	/*color: rgba(46, 54, 237, 0.2);*/
	/*color: #ddd;*/
	color: #ccc;
	font-size: 15px;
	line-height: 20px;
	pointer-events: none;
	background: #eee;
	border-radius: 4px;
	text-shadow: 1px 1px #f6f6f6;
}
#sortables .drop-container {
	float: left;
	float: left;
	min-width: 240px;
	min-height: 100px;
}
#sortables .drop-target {
	position: relative;
	min-height: 100px;
}
#sortables li {
	list-style-type: none;
	margin: 0 0 10px 0;
	font-size: 1.2em;
	background-position: top left; 
	border: 1px solid #008da7;
	background: #008da7;
	font-weight: normal;
	color: #ffffff;
			
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.252);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.252);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.252);

	border-radius: 3px;
	min-width: 100px;
}
#sortables li:hover { 
	cursor: move;
}
#sortables li.ui-sortable-helper {
	opacity: 0.5;
}
#sortables .sortable li ul { 
	padding: 3px; 
	margin-top: 0; 
	background: #f9f9f9; 
	color: #666; 
	border: none; 
	font-size: 90%; 
}
#sortables .sortable li ul.closed {
	display: none;
}
#sortables .sortable li ul li { 
	padding: 5px;  
	border-bottom: 1px dotted #ccc;
}
#sortables .sortable li ul.sort li { 
	cursor: ns-resize;
}
#sortables .sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0 0 20px 0; 
	min-height: 100px;
	vertical-align: top;
}
#sortables .drop-target .sortable { 
	padding: 5px 5px 20px 5px; 
}

#sortables .drop-target .sortable > li { 
	border-color: #25394b;
	background-color: #25394b;
}
#sortables li > h4 {
	position: relative;
	margin: 0;
	padding: 8px 45px 8px 6px;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
}
#sortables li > h4 .label {
	white-space: nowrap;
    width: 10px;
    display: inline-block;
}


#sortables li > h4 .handle,
#sortables li > h4 .handle:before,
#sortables li > h4 .handle:after {
	width: 15px;
	height: 2px;
	background: #fff;
	border-radius: 2px;	
}

#sortables li > h4 .handle {
	display: inline-block;
	position: relative;
	top: -5px;
	margin: 0 8px 0 0;
	opacity: 0.7;
}
#sortables li > h4 .handle:before {
	content: '';
    position: absolute;
	top: -5px;
}
#sortables li > h4 .handle:after {
	content: '';
    position: absolute;
	top: 5px;
}

#sortables li > h4 i {
	font-weight: normal;
	color: #ddd;
}
#sortables li > h4 a, #sortables li > h4 a:link, #sortables li > h4 a:visited {
	color: #fff;
}
#sortables li > h4 .icons {
	position: absolute;
	right: 0;
	top: 5px;
}
#sortables li > h4 .chevron {
	right: 0;
	top: 0;
	color: #d2d8dd;
	width: 20px;
	height: 20px;
	cursor: default;
	margin: 0 3px;
}
#sortables li > h4 .config {
	right: 3px;
	top: 2px;
	color: #A6B1BB;
	width: 14px;
	height: 14px;
	cursor: default;
	margin: 0 3px;
}
#sortables .drop-target .sortable > li > h4 .config {
	color: #d2d8dd;
}
#sortables li > h4 .chevron:hover,
#sortables .drop-target .sortable > li > h4 .config:hover {
	color: #fff;
}


#sortables .row .ui-sortable-helper {
	width: 238px !important;
}
#sortables .drop-target .sortable > li > h4 {
	width: 100%;
}

#sortables .row {
	clear: both;
	padding: 5px 3px;
	/*border: 1px dashed #ccc;*/
	position: relative;
	min-width:230px;
	min-height: 60px;
	/*margin-bottom: 5px;*/
	width: 100%;
	text-align: left;
	
	border: 3px solid #eee;
	background: #fff;
	margin-bottom: 20px;
	border-radius: 4px;
}
#sortables .row.ui-sortable-helper {
	opacity: 0.75;
}
#sortables .row:before,
#sortables .row:after {
	content: "";
	display: table;
} 
#sortables .row:after {
	clear: both;
}

#sortables .button {
	margin: 10px 5px;
	background: #ccc;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#sortables .button:hover {
	text-decoration: none;
	background: #E7174B;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#sortables .button.add_column {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
}
#sortables .button.remove_row {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1px;
	line-height: 5px;
	font-weight: bold;
	background: #CCCCCC;
	text-decoration: none;	
}
#sortables .button.remove_row:hover {
	text-decoration: none;
	background: #E7174B;
}
#sortables .col {
  min-width: 100px;
}

#sortables .drop-container .row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#sortables .drop-container .col {
	width: 50%;
	border-right: 1px dashed #ccc;
}
#sortables .drop-container .col:last-child {
	border-right: none;
}

#sortables .drop-container .cols-1 .col {
	width: 100%;
}
#sortables .drop-container .cols-2 .col {
	width: 50%;
}
#sortables .drop-container .cols-3 .col {
	width: 33.333%;
}
#sortables .drop-container .cols-4 .col {
	width: 25%;
}
#sortables .drop-container .cols-5 .col {
	width: 20%;
}

/* top menu */


#sortables li input, #sortables li select, #sortables li textarea {
	background: #fff;
	border: none;
	width: 100%;
	height: 36px;
	display: block;
	font-size: 14px;
	-webkit-box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.1);
	box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.1);
	color: #666;
}
#sortables .drop-source li input, #sortables .drop-source li select, #sortables .drop-source li textarea {	
	pointer-events: none;
	color: #ccc;
}
#sortables li textarea,
#sortables li select[name=cl_textarea] {
	height: 80px;
}
#sortables li .cl_image {
	background: #fff;
	border: 1px solid #ff000;

	height: 80px;
	display: block;
	padding: 5px;
	margin: 1px;
}
#sortables li .cl_image .image {
	
	position: relative;
	width: 70px;
	height: 70px;
	margin: 5px;
	overflow: hidden;
	border: 1px solid #666699;
	background: #ddd;
}
#sortables li .cl_image .image:before {
	content: "";
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	border-top: 1px solid #666699;
	-webkit-transform: skew(0deg,-45deg);
	-moz-transform: skew(0deg,-45deg);
	transform: skew(0deg,-45deg);
}
#sortables li .cl_image .image:after {
	content: "";
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	border-top: 1px solid #666699;
	-webkit-transform: skew(0deg,45deg);
	-moz-transform: skew(0deg,45deg);
	transform: skew(0deg,45deg);
}

/* EE3 */
#update_form fieldset {
	padding-top: 10px;
	padding-bottom: 10px;
}
#update_form .field-instruct {
    margin-bottom: 10px;
    position: relative;
}
#update_form .field-instruct label {
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.wrap .panel-heading {
	padding: 20px;
	border-bottom: 1px solid #dfe0ef;
}